<h1><% @house.name %></h1>
<div class="attribute">House colors: <%= @house.colors %></div>
<div class="attribute">House motto: <%= @house.slogan %></div>
<h2>Students</h2>
<% @house.students.each do |student| %>
  <div class="link"><%= link_to student.name, student %></div>
<% end %>

<%= link_to "Go Back, the Dementors are near", houses_path%>