<h1>Show all the Teachers!!</h1>

<% @teachers.each do |teacher| %>
  <div class="link"><%= link_to teacher.name, teacher %>
  <div>
  <%= link_to "Edit teacher", edit_teacher_path(teacher)%><%= link_to 'Fire this teacher', teacher, method: :delete, data: { confirm: "Are you sure you want to delete this teacher?"} %>
  </div> 
  <% end %>

<br>

<div class="link"><%= link_to "Hire a new teacher", new_teacher_path %></div>
</div>