<h1>Hogwarts Houses</h1>
<div class="houses">
	<h2><%= @house.name %></h2>
	<div class='house_students'>
		<ul>
		<% @house.students.each do |student| %>
			<li><%= link_to student.name, student %></li>
		</ul>
		<% end %>
	</div>
</div>