<h1>Hogwarts Student</h1>
<div class="student">
	<h2><%= @student.name %></h2>
	<div class='house_students'>
		<%= link_to @student.house.name, @student.house %></br>
		<% @student.lectures.each do |lecture|%>
		<%= link_to lecture.topic, lecture%>
		<%end%>
	</div>
	<%= link_to "back to students", students_url %>
</div>