<h1>Hogwarts Professor</h1>
<div class="professor">
	<h2>Professor <%= @professor.name %></h2>
	<h3>Lectures given:</h3>
	<ul>
	<% @professor.lectures.each do |lecture| %>
		<li><%= lecture.topic %></li>
	</ul>
	<% end %>
	</div>


	<%= link_to "back to professors", professors_url %>

</div>